{% extends "base.html.twig" %}
{% block title %}Cuisine - Accueil{% endblock %}
{% block body %}
<div class="container mt-4">
    <div class="jumbotron">
        <h1 class="display-4">Bienvenu sur Cuisine avec Malou</h1>
        <p class="lead">Viens apprendre des recettes de cuisine avec Malou <hr class="my-4">
        <p>Rendez vous sur la page d'inscription pour commencer à utiliser l'application <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">inscription</a>
        </p>
    </div>
    <p> Site de recette</p>
</div>



{% endblock %}